@import "src/styles/init";

.Questions {
    justify-content: space-between;
    box-sizing: content-box;

    @include media-breakpoint-up(md) {
        justify-content: flex-start;
    }

    .countdown {
        font-weight: bold;
        text-align: center;
    }
}

.carousel {
    // Most of these are copied from Twitter Bootstrap, and modified to use grids instead of position absolute
    //

    $indicator-height: $carousel-indicator-hit-area-height*2 + $carousel-indicator-height;
    display: grid;
    max-width: 100%;
    grid-template-areas:
        "inner      inner"
        "prev       next"
        "indicators indicators";
    grid-template-rows: 1fr $carousel-control-width $indicator-height;
    grid-template-columns: 1fr 1fr;

    .carousel-inner {
        grid-area: inner;
    }

    .carousel-indicators {
        grid-area: indicators;
    }

    .carousel-control-prev {
        grid-area: prev;
    }

    .carousel-control-next {
        grid-area: next;
    }

    .carousel.pointer-event {
        touch-action: pan-y;
    }

    .carousel-inner {
        width: 100%;
        display: flex;
        align-items: flex-end;
        overflow-y: auto;
    }

    .carousel-item {
        display: none;
        width: 100%;
        margin-right: -100%;
        backface-visibility: hidden;
        @include transition($carousel-transition);
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
    }

    .carousel-item-next:not(.carousel-item-left),
    .active.carousel-item-right {
        transform: translateX(100%);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .active.carousel-item-left {
        transform: translateX(-100%);
    }


    //
    // Alternate transitions
    //

    .carousel-fade {
        .carousel-item {
            opacity: 0;
            transition-property: opacity;
            transform: none;
        }

        .carousel-item.active,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right {
            z-index: 1;
            opacity: 1;
        }

        .active.carousel-item-left,
        .active.carousel-item-right {
            z-index: 0;
            opacity: 0;
            @include transition(opacity 0s $carousel-transition-duration);
        }
    }


    //
    // Left/right controls for nav
    //

    .carousel-control-prev,
    .carousel-control-next {
        // Use flex for alignment (1-3)
        display: flex; // 1. allow flex styles
        align-items: center; // 2. vertically center contents
        justify-content: center; // 3. horizontally center contents
        width: 100%;
        color: $carousel-control-color;
        text-align: center;
        opacity: $carousel-control-opacity;
        @include transition($carousel-control-transition);

        // Hover/focus state
        @include hover-focus() {
            color: $carousel-control-color;
            text-decoration: none;
            outline: 0;
            opacity: $carousel-control-hover-opacity;
        }
    }

    .carousel-control-prev {
        @if $enable-gradients {
            background-image: linear-gradient(90deg, rgba($black, .25), rgba($black, .001));
        }
    }

    .carousel-control-next {
        @if $enable-gradients {
            background-image: linear-gradient(270deg, rgba($black, .25), rgba($black, .001));
        }
    }

    // Icons for within
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: inline-block;
        width: $carousel-control-icon-width;
        height: $carousel-control-icon-width;
        background: 50% / 100% 100% no-repeat;
    }

    .carousel-control-prev-icon {
        background-image: escape-svg($carousel-control-prev-icon-bg);
    }

    .carousel-control-next-icon {
        background-image: escape-svg($carousel-control-next-icon-bg);
    }


    // Optional indicator pips
    //
    // Add an ordered list with the following class and add a list item for each
    // slide your carousel holds.

    .carousel-indicators {
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0; // override <ol> default
        // Use the .carousel-control's width as margin so we don't overlay those
        margin-right: $carousel-control-width;
        margin-left: $carousel-control-width;
        margin-bottom: 0;
        list-style: none;

        li {
            box-sizing: border-box;
            flex: 0 1 auto;
            width: $carousel-indicator-width;
            height: $indicator-height;
            margin-right: $carousel-indicator-spacer;
            margin-left: $carousel-indicator-spacer;
            text-indent: -999px;
            cursor: pointer;
            background-color: $carousel-indicator-active-bg;
            background-clip: padding-box;
            // Use transparent borders to increase the hit area by 10px on top and bottom.
            border-top: $carousel-indicator-hit-area-height solid transparent;
            border-bottom: $carousel-indicator-hit-area-height solid transparent;
            opacity: .5;
            @include transition($carousel-indicator-transition);
        }

        .active {
            opacity: 1;
        }
    }
}
